
body {
    font-family: "Helvetica Neue",Helvetica,Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}

strong { font-weight: 500; }

/* a, a:hover, a:focus {
	color: #4aaf51;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
} */

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #4aaf51; color: #fff; text-shadow: none; }
::selection { background: #4aaf51; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2.btn-link-1-facebook { background: #4862a3; }
.btn-link-2.btn-link-1-twitter { background: #55acee; }
.btn-link-2.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
	background-image: url("/resources/assets/img/backgrounds/1.jpg");
    padding: 0px 0 0px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #4aaf51;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
	color: rgb(95, 155, 198);
	text-decoration: underline;
}

.validation-message {
	font-style: normal;
	font-size: 12px;
	color: #FF1C19;
}
.change_link {
	text-align: center;
	color: #ffff;
	margin-bottom: 50px;
}
.login_with {
	text-align: center;
}
/***********************************
Navigation bar
************************************/
.navbar-default .navbar-brand {
    color: #5FCF80;
}
.navbar-default {
    background-color: #ffffff;
}
.course-text{
    padding: 84px;
}
.navbar-default .navbar-nav > li > a {
    color: #717f86;
    font-size: 14px;
    font-weight: 700;
}
.navbar-nav > li > a{
	padding: 0px;
	margin: 10px 5px;
	padding: 10px 5px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
	color: #5FCF80;
}

.navbar-left .navbar-nav .active a{
    background: none !important;
    color: #5FCF80 !important;
    outline: none;
}
.navbar-default .navbar-brand {
    font-family: 'Dosis', sans-serif !important;
    font-weight: 700;
    padding: 0px;
    height: inherit;
    font-size: 36px;
    margin: 20px 0px;
}
.navbar-default .navbar-brand span{
	font-weight: 100 !important;
}
.navbar {
    margin-bottom: 0px;
}
.padding-zero{
	padding: 0px;
}
.mart20{
	margin-top: 20px;
}
.btn-ask a{
	background-color: #5FCF80;
	border-radius: 20px;
	color: #ffffff !important;
	border: 1px solid #5FCF80;
}
.btn-ask a:hover, .btn-ask a:focus{
	border: 1px solid #5FCF80;
	background-color: #fff;
	color: #5FCF80 !important;
}

/***********************************
Content
************************************/
.ContentWrapper {
    width: 100%;
    margin: 0 auto;
    padding-top: 90px;
    padding-left: 150px;
    padding-right: 150px;
}
.layout_3col_left {
    width: 160px;
    float: left;
    min-height: 1px;
    margin-left: 0px;
    clear: left;
    font-size: 13px;
}
.feed_card_on .layout_3col_center {
    padding-left: 0px;
}

.layout_3col_left+.layout_3col_center {
    margin-left: 5px;
}
.layout_3col_center {
    width: 645px;
    float: left;
    min-height: 1px;
    margin-left: 30px;
    margin-left: 180px;
}
.layout_3col_right {
    width: 250px;
    float: left;
    min-height: 1px;
    margin-left: 20px;
    font-size: 13px;
}
.home_feed_right_col {
    width: auto;
}
.grid_page {
    margin-left: 0px;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 90px;
}
.PagedListFoo {
    margin-bottom: 32px;
}
.zapdos_sidebar_wrapper {
    margin-bottom: 32px;
}
.NavList {
    width: 142px;
}
.EditableList {
    margin-bottom: 32px;
}
.HomeNavListHoverMenu .HomePagePinnedTopicSelector .selector_results_container {
    position: relative;
}

.Selector .selector_results_container {
    position: absolute;
    width: 100%;
    min-width: 200px;
    z-index: 600;
    box-shadow: 0 2px 5px 0 rgba(200,200,200,0.6);
}

.HomeNavListHoverMenu .HomePagePinnedTopicSelector .selector_results_container {
    position: relative;
}
.Selector .selector_results_container {
    position: absolute;
    width: 100%;
    min-width: 200px;
    z-index: 600;
    box-shadow: 0 2px 5px 0 rgba(200,200,200,0.6);
}
.hidden {
    display: none!important;
}
div {
    display: block;
}
.Selector {
    font-size: 13px;
    position: relative;
}

.body_feed_card_on {
	background: #eeeeee;
}
.search-input {
	border-radius: 4px 0px 0px 4px;
}
/* page-content */
.container.main-content {
  position: relative;
  z-index: 991;
  min-height: 400px;
}
.page-content,.about-author,.user-question,#related-posts {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #dedede;
  background: #FFF;
  -moz-box-shadow: 0 0 5px #dedede;
  -webkit-box-shadow: 0 0 5px #dedede;
  box-shadow: 0 0 5px #dedede;
}
.page-content .widget,.widget .related-posts {
  padding: 0 !important;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.page-content .boxedtitle,.main-content .boxedtitle {
  margin-bottom: 20px;
  padding-left: 20px;
  border-bottom: 0;
}
.page-content p {
  font-size: 13px;
  font-weight: normal;
}
.main-content .boxedtitle {
  margin-left: 0;
  margin-right: 0;
}
.main-content .page-content .boxedtitle.page-title,.post-box .boxedtitle {
  margin: -20px -20px 20px;
}
.main-content .page-content .boxedtitle.page-title {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  position: relative;
  margin-bottom: 10px !important;
}
.main-content .page-content .boxedtitle.page-title h2 {
  padding: 20px 0 10px;
  margin: 0 20px 20px 0;
  border-bottom: 2px solid #dedede;
  font-size: 20px;
  font-weight: bold;
}
.boxedtitle.page-title h2 {
  font-size: 16px;
  font-weight: bold;
}
.main-content .boxedtitle h1,.main-content .boxedtitle h2,.main-content .boxedtitle h3,.main-content .boxedtitle h4,.main-content .boxedtitle h5,.main-content .boxedtitle h6 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.single-post .post-inner {
  padding: 0 20px 20px;
  position: relative;
}
.about-author,.user-question {
  background: #FFF;
}
.page-content {
  overflow: hidden;
  height: 100%;
}
.comment-respond {
  background: #FFF;
}
.form-description {
  margin-left: 18%;
  font-size: 13px !important;
  color: #ff7361 !important;
}
.ask-question .form-description {
  width: 80%;
  display: inline-block;
}

.form-style label.required span {
    margin-left: 3px;
    color: #F00;
}

/* question */
.question {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 15px;
  border: 1px solid #dedede;
  background: #FFF;
  -moz-box-shadow: 0 0 5px #dedede;
  -webkit-box-shadow: 0 0 5px #dedede;
  box-shadow: 0 0 5px #dedede;
  position: relative;
}
.tab-inner .question:first-child {
  margin-top: 0;
}
.question-inner {
  position: relative;
  margin-left: 101px;
}
.question-tab .tabs {
  margin-bottom: 30px;
}
.question-tab .tab a {
  color: #2f3239;
  font-size: 15px;
  font-weight: normal;
  background-color: transparent;
}
.question-tab .tab a:hover {
  color: #2f3239;
}
.question-tab .tab a.current:hover {
  color: #FFF;
}
.question-tab .tab-inner-warp {
  background: transparent;
  padding: 0;
}
.single-question {
  padding: 20px 0;
  margin-bottom: 10px;
}
.single-question .form-inputs p {
  margin-bottom: 20px;
}
.question-meta {
  padding: 0 20px 20px;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
  height: 100%;
}
.question-meta div,.question-meta span {
  margin-bottom: 0 !important;
}
.single-question .question-inner {
  margin-left: 0;
  padding: 0 20px;
}
.question-author {
  position: absolute;
  top: 20px;
  left: 20px;
  float: left;
  text-align: center;
  width: 71px;
  height: 71px;
  overflow: hidden;
  padding: 2px;
  border: 1px solid #dedede;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.question-author img {
  width: 65px;
  height: 65px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.question-author-img {
  position: relative;
  display: block;
}
.question-author-img span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
  line-height: 65px;
  overflow: hidden;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.question-author-img:hover span:before {
  opacity: 0.7;
  filter: alpha(opacity=70);
  content: "\f0fe";
  font-family: "FontAwesome";
}
.question-author-name {
  margin-top: 10px;
  display: block;
}
.question-type {
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  font-size: 14px;
  margin-right: 10px;
}
.question-type-main {
  font-size: 11px;
  margin: 0;
  display: inline-block;
  padding: 4px 10px;
  position: absolute;
  top: 20px;
  right: 86px;
}
.question-type-main i {
  margin-right: 5px;
}
.single-question .question-type {
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 21px;
  margin: 0;
}
.single-question.question h2 {
  margin-left: 20px;
}
.question-content {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.question h2 {
  margin: 0 0 0px 100px;
  color: #474D5D;
  overflow: hidden;
  font-size: 22px;
  font-weight: bold;
}
.question h2 a {
  color: #6783c3;
}
.post .boxedtitle i,.single-question-title i {
  padding: 15px;
  display: inline-block;
  line-height: 1;
  margin-right: 10px;
}
.question h3 a {
  color: #2f3239;
}
.question-vote {
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 27px;
}
.question-user-vote {
  float: left;
  margin-right: 10px;
  font-size: 12px;
  color: #6D8297;
}
.user-question .question-user-vote,.user-question .question-vote-result,.user-question .question-reply,.user-question .question-comment,.user-question .question-category,.user-question .question-date,.user-question .question-view,.user-question .question-answered,.user-question .question-favorite {
  margin-bottom: 5px;
}
.user-question h3 {
  font-size: 20px;
  font-weight: bold;
  padding-right: 89px;
}
.user-question h3 a:hover {
  color: #2f3239 !important;
}
.user-question .question-type-main {
  top: 20px;
  bottom: inherit;
  right: 20px;
}
.single-question .question-vote {
  margin-left: 0;
}
.question-vote li {
  display: block;
  float: left;
}
.question-vote-up,.comment-vote-up,.question-vote-down,.comment-vote-down {
  font-size: 35px;
  color: #2f3239 !important;
  display: block;
  float: left;
  height: 12px;
  line-height: 12px;
  margin-bottom: 5px;
}
.question-vote-down,.comment-vote-down {
  margin-bottom: 0;
}
.question-vote-up:before,.comment-vote-up:before,.question-vote-down:before,.comment-vote-down:before {
  font-family: "FontAwesome";
  content: "\f0d8";
  float: left;
  height: 12px;
}
.question-vote-down:before,.comment-vote-down:before {
  content: "\f0d7";
}
.question-vote-up i,.comment-vote-up i,.question-vote-down i,.comment-vote-down i,.question-vote-up i:before,.comment-vote-up i:before,.question-vote-down i:before,.comment-vote-down i:before {
  float: right;
  height: 13px;
  display: block;
  position: relative;
  z-index: 2;
}
.question-vote-down i,.comment-vote-down i,.question-vote-down i:before,.comment-vote-down i:before {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  z-index: 1;
}
.question-vote-result,.single-question-vote-result {
  float: left;
  font-size: 13px;
  color: #2f3239;
}
.single-question-vote-result {
  float: right;
}
.single-question-vote > li:first-child a {
  margin-right: 10px;
}
.single-question-vote-up,.single-question-vote-down {
  background-color: #eee;
  color: #666;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  float: right;
  font-size: 16px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  margin-right: 5px;
}

/* Layout question detail */
.layout_2col_main {
    width: 572px;
    float: left;
    min-height: 1px;
    margin-left: 30px;
    width: 602px;
}
.NewGridQuestionPage .header, .NewGridQuestionPage .QuestionArea {
    margin-bottom: 12px;
}
.icon_action_bar {
    position: relative;
    margin-bottom: -12px;
}
.icon_action_bar .action_bar_inner {
    align-items: center;
    margin-left: -12px;
    margin-right: -5px;
}
.icon_action_bar .action_bar_inner {
    align-items: center;
    margin-left: -12px;
    margin-right: -5px;
}

.u-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ContentFooter, .ContentFooter a {
    color: #aaa;
}

.ContentFooter {
    padding-top: 8px;
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.icon_action_bar-button {
    display: flex;
    align-items: center;
}
.icon_action_bar-button, .icon_action_bar-stacked_button {
    color: #403f3f;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
}
.icon_action_bar-button .icon_action_bar-icon_offset {
    margin-left: -2px;
}
.icon_action_bar-button.icon_action_bar-secondary-button {
    padding: 5px;
}
.u-font-weight--medium {
    font-weight: 500!important;
}

.u-margin-left--xs {
    margin-left: 4px!important;
}
.icon_action_bar .action_bar_inner .action_item.secondary_item {
    order: 6;
}
.action_bar-inline_icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}
.u-margin-left--auto {
    margin-left: auto!important;
}
.threaded_comments.answer_auto_expanded_comments {
    border: 0;
    background-color: #f7f7f7;
    min-height: 27px;
}
.threaded_comments {
    display: block;
    font-size: 13px;
    padding: 16px;
    margin-top: 8px;
    background: #f6f6f6;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
}
.u-margin-top--md {
    margin-top: 16px!important;
}
.threaded_comments .featured_comments_header {
    float: right;
    display: inline-block;
    margin-top: 4px;
}
.answer_auto_expanded_comments.threaded_comments .add_root_comment {
    width: calc(100% - 134px);
}

.threaded_comments .add_root_comment {
    display: inline-block;
    margin-bottom: -5px;
}
.threaded_comments .add_root_comment .profile_photo_img {
    vertical-align: middle;
    float: left;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    margin-top: -1px;
}

.profile_photo_img {
    border-radius: 50%;
}

.js-wf-loaded .threaded_comments .reply_to_comment .editor_wrapper .Comment.Editor, .js-wf-loaded .threaded_comments .add_root_comment .editor_wrapper .Comment.Editor, .js-wf-loaded .threaded_comments .threaded_inline_editor .editor_wrapper .Comment.Editor, .amp-page .threaded_comments .reply_to_comment .editor_wrapper .Comment.Editor, .amp-page .threaded_comments .add_root_comment .editor_wrapper .Comment.Editor, .amp-page .threaded_comments .threaded_inline_editor .editor_wrapper .Comment.Editor {
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}

.threaded_comments .reply_to_comment .editor_wrapper .Comment.Editor, .threaded_comments .add_root_comment .editor_wrapper .Comment.Editor, .threaded_comments .threaded_inline_editor .editor_wrapper .Comment.Editor {
    font-family: Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    font-size: 13px;
    line-height: 1.5;
    vertical-align: middle;
}
.web_page .Editor.Comment {
    word-break: break-word;
    padding: 3px 5px 4px;
    border-radius: 3px;
    background-color: #fff;
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    min-height: 27px;
    line-height: 1.5;
    display: table;
    table-layout: fixed;
}
.js-wf-loaded .web_page .Editor, .amp-page .web_page .Editor {
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}
.web_page .Editor {
    font-family: Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}
.Editor:not(.Title) {
    font-size: 15px;
}
.Editor {
    white-space: pre-wrap;
    outline: 0;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 44px 0 0;
    border: 1px solid #e2e2e2;
    -webkit-transition: border-color .2s ease-in-out 0s;
    -o-transition: border-color .2s ease-in-out 0s;
    transition: border-color .2s ease-in-out 0s;
}

/* Detail question */
.question-container {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    margin: 0 auto;
    text-align: left;
}
body:not(.unified-theme) .container._full #content {
    padding: 0;
    width: 100%;
}
#content {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 15px;
    width: 1060px;
    background-color: #FFF;
}
body:not(.unified-theme) .container._full #content .inner-content {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 15px;
    width: 1060px;
}
#question-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#question-header {
    clear: both;
    margin-bottom: 1em;
    padding: 5px 0;
    border-bottom: 1px solid #e4e6e8;
}
#question-header h1 {
    margin-bottom: .5em;
    font-size: 22px;
    line-height: 1.3;
    margin: 0 0 1em;
}
#question-header .question-hyperlink {
    color: #242729;
}

#question-header .question-hyperlink {
    font-size: 24px;
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: .5em;
}
.pl8 {
    padding-left: 8px !important;
}
.question-detail {
    clear: both;
}
body:not(.no-grid-post-layout) .post-layout {
    display: grid;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
}

.post-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    box-sizing: border-box;
}
body:not(.no-grid-post-layout) .post-layout--right {
    grid-column: 2;
    width: auto;
}
.question .postcell {
    vertical-align: top;
}
.post-layout--right {
    flex-shrink: 1;
    width: calc(100% - 70px - 16px - 2px);
    min-width: 0;
}
.post-layout--right .post-text, .post-layout--right .comments {
    width: 100%;
}
.post-text, .wmd-preview {
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.3;
}
.gsy, .gsy>.grid, .gsy>[class*="grid--cell"] {
    margin-right: 0;
    margin-left: 0;
}
.gs8>.grid, .gs8>.grid--cell {
    margin: 4px;
}
.mb0 {
    margin-bottom: 0 !important;
}
.owner {
    background-color: #E0EAF1;
}
.mr16 {
    margin-right: 16px !important;
}
.gs8 {
    margin: -4px;
}
.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.post-menu {
    padding-top: 2px;
}
.post-menu>a {
    padding: 0 3px 2px;
    color: #848d95;
}
.post-menu>* {
    display: inline-block;
}
.post-menu .lsep {
    margin: 0;
    padding: 0;
}
.lsep {
    margin: 0 2px;
    color: #c8ccd0;
    color: #1b4072;
    font-size: 1px;
    visibility: hidden;
}
.user-info {
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    width: 200px;
    color: #6a737c;
}
.post-signature {
    text-align: left;
    vertical-align: top;
    width: 200px;
}
.user-info .user-action-time {
    margin-top: 1px;
    margin-bottom: 4px;
    font-size: 12px;
    white-space: nowrap;
}
.user-info .user-gravatar32 {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 1px;
}
.gravatar-wrapper-32, .gravatar-wrapper-32 img {
    width: 32px;
    height: 32px;
}
[class*="gravatar-wrapper-"] {
    padding: 0;
    overflow: hidden;
}
.user-info .user-gravatar32 img {
    border-radius: 1px;
}
.gravatar-wrapper-32, .gravatar-wrapper-32 img {
    width: 32px;
    height: 32px;
}
[class*="gravatar-wrapper-"] img {
    margin: 0 auto;
}
.user-info .user-gravatar32+.user-details {
    margin-left: 8px;
    width: calc(100% - 40px);
}
.user-info .user-details {
    float: left;
    width: 100%;
}
.user-details {
    line-height: 17px;
    word-wrap: break-word;
}
.reputation-score {
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}
.-flair>span:not(.reputation-score) {
    margin-right: 3px;
    margin-left: 2px;
}
.comments {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.comments {
    width: 660px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e4e6e8;
}
#answers {
    padding-top: 10px;
}

#answers-header {
    margin-top: 10px;
}
.subheader {
    clear: both;
    margin-bottom: 10px;
    height: 40px;
    border-bottom: 1px solid #e4e6e8;
}
#mainbar h2, .mainbar h2, #mainbar h3, .mainbar h3, #mainbar h4, .mainbar h4 {
    font-weight: 400;
}
.subheader h2 {
    color: #3b4045;
    font-size: 18px;
}
.subheader h1, .subheader h2 {
    float: left;
    margin-bottom: 0;
    font-weight: normal;
}
.vote {
    text-align: center;
}
.answer {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e4e6e8;
}

body:not(.no-grid-post-layout) .post-layout--left, body:not(.no-grid-post-layout) .post-layout--left.votecell {
    width: auto;
    padding-right: 15px;
}
body:not(.no-grid-post-layout) .post-layout--left {
    grid-column: 1;
    width: auto;
}
.post-layout--left, .post-layout--left.votecell {
    flex-grow: 0;
    width: 70px;
    padding: 0;
}
.votecell {
    vertical-align: top;
    padding-right: 15px;
}
.votecell .vote {
    min-width: 46px;
}
.vote {
    text-align: center;
}
.post-text {
    width: 660px;
}
.comments {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.comments {
    width: 660px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e4e6e8;
}
body:not(.no-grid-comments) ul.comments-list {
    display: grid;
    grid-template-columns: max-content 1fr;
}
ul.comments-list {
    list-style-type: none;
    margin: 0;
}
body:not(.no-grid-comments) ul.comments-list .comment {
    display: contents;
}
ul.comments-list .comment {
    display: flex;
}
.comment:not([style*="background-color"]) {
    transition: background-color linear 2s;
}
body:not(.no-grid-comments) ul.comments-list .comment-actions {
    width: auto;
}
ul.comments-list .comment-actions {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: flex-start;
    width: 37px;
    width: calc(2ch + 16px + 4px + 2px);
}
ul.comments-list .comment-actions {
    width: 38px;
    flex-shrink: 0;
}
ul.comments-list .comment-text, ul.comments-list .comment-actions {
    transition: background-color linear 2s;
}
ul.comments-list .comment-actions {
    padding-right: 2px;
}
ul.comments-list .comment-text, ul.comments-list comment-form, ul.comments-list .comment-actions {
    padding: 6px 0;
}
ul.comments-list .comment>* {
    border-bottom: 1px solid #eff0f1;
}
.comment-actions {
    padding-left: 3px;
    width: 15px;
}
ul.comments-list .comment-text {
    min-width: 0;
    flex-basis: 0;
    padding-left: 6px;
    padding-right: 6px;
}
ul.comments-list .comment-text, ul.comments-list comment-form, ul.comments-list .comment-actions {
    padding: 6px 0;
}
ul.comments-list .comment>* {
    border-bottom: 1px solid #eff0f1;
}
ul.comments-list .comment-text {
    flex-grow: 1;
}
.comment-text {
    font-size: 13px;
    line-height: 1.3;
}
.comment-text, .comment-form {
    padding: 0 6px 0 7px;
    vertical-align: text-top;
}
.comment-date, .comment-date>a, .comment-date>a:hover {
    border-bottom: none;
    color: #9199a1;
}
.comment-date {
    color: #848d95;
}
.disabled-link {
    color: #848d95;
    opacity: .6;
    padding: 0 3px 2px;
}
.comments-link {
    padding: 0 3px 2px 3px;
}
.form-submit {
    display: block;
    padding: 10px 0 15px 0;
}
#sidebar, .sidebar {
    float: right;
    overflow: hidden;
    width: 300px;
    margin: 0 0 15px;
}
.module.community-bulletin {
	width: 290px;
    padding: 15px 15px 10px;
    background-color: #c7cec9;
    border: 1px solid #e6e6e1;
}
.module {
    word-wrap: break-word;
}
.module {
    margin-bottom: 1.5em;
}
#question-content {
	box-sizing: content-box;
    margin: 85px 150px 0px 145px;
    box-sizing: content-box;
    padding: 15px;
    width: 1020px;
    background-color: #FFF;
}
#mainbar h2, .mainbar h2, #mainbar h3, .mainbar h3, #mainbar h4, .mainbar h4 {
    font-weight: 400;
}
.subheader h2 {
    color: #3b4045;
    font-size: 18px;
}
.subheader h1, .subheader h2 {
    float: left;
    margin-bottom: 0;
    /* font-weight: normal; */
}
.go-up:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #2a3131;
}
.go-up {
    position: fixed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    right: -60px;
    bottom: 20px;
    cursor: pointer;
    text-align: center;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 998;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #3b7d3c;
    color: rgb(255, 255, 255);
}
.widget h3.widget_title {
	color: #498a28;
    margin: -20px 0 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0 10px;
    border-bottom: 2px solid #dedede;
    position: relative;
}
.author-img {
    float: left;
    display: block;
    overflow: hidden;
    width: 71px;
    height: 71px;
    position: relative;
    margin-right: 20px;
    overflow: hidden;
    padding: 2px;
    border: 1px solid #dedede;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.widget ul li h6 {
    font-size: 14px;
    line-height: 20px;
}
.widget_highest_points li h6 {
    margin: 10px 0 5px;
    font-weight: bold;
}
.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget_highest_points ul li {
    padding-bottom: 15px;
}

.widget ul li {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    padding-bottom: 10px;
}
.widget ul li h6 {
    font-size: 14px;
    line-height: 20px;
}
.widget_highest_points li h6 {
    margin: 10px 0 5px;
    font-weight: bold;
}
.widget_highest_points .comment {
    padding: 0;
    border-bottom: 0;
    color: #2f3239;
    font-size: 13px;
}
.widget_tag_cloud a {
    display: inline-block;
    line-height: 20px;
    color: #fff;
    margin: 0 0 5px 0 !important;
    padding: 2px 10px;
    font-size: 12px !important;
    background-color: #5179d4;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/* Content box */
.box.box-primary {
    border-top-color: #3c8dbc;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.img-circle {
    border-radius: 50%;
}
.profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}
.text-center {
    text-align: center;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    line-height: 20px;
}
/* notification */
.detail a, .expand, .jqstooltip, .paging_full_numbers a:hover, .site_title:focus, .site_title:hover, a, a:focus, a:hover {
    text-decoration: none;
}
.info-number .badge {
    font-size: 10px;
    padding: 2px 4px;
    position: absolute;
    right: 73px;
    top: 4px;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}
.navbar-nav .open .dropdown-menu {
	position: absolute;
	background: #fff;
	margin-top: 0;
	border: 1px solid #D9DEE4;
	-webkit-box-shadow: none;
	right: 0;
	left: auto;
	width: 220px
}
.navbar-nav .open .dropdown-menu.msg_list {
	width: 300px
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
ul.msg_list li a .image img {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	float: left;
	margin-right: 10px;
	width: 11%
}

ul.msg_list li a .time {
	font-size: 11px;
	font-style: italic;
	font-weight: 700;
	position: absolute;
	right: 35px
}
ul.msg_list li {
    background: #f7f7f7;
    padding: 5px;
    display: -ms-flexbox;
    display: flex;
    margin: 6px 6px 0;
    width: 96% !important;
}
ul.msg_list li a .message {
	display: block !important;
	font-size: 11px
}
.dropdown-menu.msg_list span {
    white-space: normal;
}
@media (min-width: 768px)
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}
.open>.dropdown-menu {
    display: block;
}
.dropdown-menu {
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.tab-pane .post {
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-bottom: 15px;
    color: #333;
}
.user-block:before,
.user-block:after {
  content: " ";
  display: table;
}
.user-block:after {
  clear: both;
}
.user-block img {
  width: 40px;
  height: 40px;
  float: left;
}
.user-block .username,
.user-block .description,
.user-block .comment {
  display: block;
  margin-left: 50px;
}
.user-block .username {
  font-size: 16px;
  font-weight: 600;
}
.user-block .description {
  color: #999;
  font-size: 13px;
}
.user-block.user-block-sm .username,
.user-block.user-block-sm .description,
.user-block.user-block-sm .comment {
  margin-left: 40px;
}
.user-block.user-block-sm .username {
  font-size: 14px;
}
.img-sm,
.img-md,
.img-lg,
.box-comments .box-comment img,
.user-block.user-block-sm img {
  float: left;
}
.img-sm,
.box-comments .box-comment img,
.user-block.user-block-sm img {
  width: 30px !important;
  height: 30px !important;
}
.img-sm + .img-push {
  margin-left: 40px;
}
.img-md {
  width: 60px;
  height: 60px;
}
.img-md + .img-push {
  margin-left: 70px;
}
.img-lg {
  width: 100px;
  height: 100px;
}
.img-lg + .img-push {
  margin-left: 110px;
}
.img-bordered {
  border: 3px solid #d2d6de;
  padding: 3px;
}
.img-bordered-sm {
  border: 2px solid #d2d6de;
  padding: 2px;
}